.MattressFeaturesMainSec{
    padding:100px;
    background: aliceblue;
}


.MatterssSlide{
    width: 100%;
}

.ImageBlock{
    position: relative;
}


.span1{
    position: absolute;
    top:40px;
    left: 50%;
    padding:10px 20px;
    border-radius: 50%;
    color:white;
    background-color:#153964;

}

.span2{
    position: absolute;
    top:100px;
    left: 30%;
    padding:10px 20px;
    border-radius: 50%;
    color:white;
    background-color:#153964;

}

.span3{
    position: absolute;
    top:160px;
    left: 80%;
    padding:10px 20px;
    border-radius: 50%;
    color:white;
    background-color:#153964;

}




.span4{
    position: absolute;
    top:270px;
    left: 50%;
    padding:10px 20px;
    border-radius: 50%;
    color:white;
    background-color:#153964;

}

.span1::after,
.span2::after,
.span3::after,
.span4::after{
    content:"";
    position:absolute;
    inset:-4px;
    border-radius:50%;
    border: 2px solid #153964;
    opacity:0;
    transform:scale(0.6);
    animation: waveAnim 1.8s ease-out infinite;
}

/* Continuous wave keyframes */
@keyframes waveAnim {
    0%{
        opacity:0.7;
        transform:scale(0.6);
    }
    70%{
        opacity:0.2;
        transform:scale(1.7);
    }
    100%{
        opacity:0;
        transform:scale(2);
    }
}




.MattressSection{
    padding:20px;
}

.miniImage{
    height: 200px;
    width: 200px;
}

.mattressTitle{
    color:#153964;
    font-size: 25px;
    text-align: center;

}

.mattressSubtitle{
    color:#153964;
    font-size: 17px;
    text-align:center;
     padding:10px 20px;

}

.miniImage{
    text-align: center;

}

.MiniImageSec{
    display: flex;
    align-items: center;
    justify-content: center;
}

.MattressHeading{
    text-align: center;
    padding-bottom:20px ;
    color:#153964;
    font-weight: 600;

}

.MattressImageSec{
    padding:40px;
}


@media (max-width:768px){
    .MattressFeaturesMainSec {
        padding: 0px;
       
    }
    .MatterssSlide{
        height: 50px;
    }

    .span1 {
        top: 19px;
        left: 69%;
    }

    .span2 {
        top: 63px;
        left: 30%;
    }

    .span3 {
        top: 113px;
        left: 73%;
    }

    .span4 {
        top: 163px;
        left: 25%;
    }
}

