.termsWrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.8;
    border-radius: 12px;
  }
  .breadcrumb-item{
    color: #153964 !important;
  }
  
  .title {
    font-size: 2.8rem;
    font-weight: 700;
       color: #153964 !important;

    text-align: center;
    text-transform: uppercase;
  }
  
  .intro {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #444;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  .section h2 {
    font-size: 1.6rem;
    color: var(--brown);
    margin-bottom: 10px;
    border-left: 4px solid  #153964;
    padding-left: 10px;
  }
  
  .section p {
    font-size: 1rem;
    color: #555;
  }
  
  a {
    color: #153964;
    text-decoration: underline;
    font-weight: 500;
  }
  
  a:hover {
    color: #153964;
  }
  
 @media (max-width: 768px){
  .title{
    font-size: 22px;
    margin: 0;
  }
  .intro{
font-size: 1rem;
  }
  .section h2 {
    font-size: 1.3rem;  
}
.section {
  margin: 0;
}


 }